
body {
	background-color:	#004422;
	color: 				#ffffff;
  	font-size:          12pt;
  	font-family:        century gothic, verdana, tahoma, arial, sans-serif;
}

#allcontent {
	margin:				0 auto;
	text-align: 		left;
	width: 				650px;
}


 a {
	color: 				white;
	padding: 			5px;
	text-decoration: 	none;
}

#menu, #menu ul {
	list-style-type:	none;
	margin:				0px;
	padding:			0px;
	width:				200px;

}


#menu  li {
	cursor:				pointer;
	background:			#88C0D9;
	border-bottom:		2px solid #444;
}

#menu li a {
	text-decoration:	none;
}

#menu li li {
	border:				0px;
	background-color:	#112299;
	padding:			0px 13px;
	cursor:				auto;
}


#menu > li > a {
	padding:			3px 10px;
	font-weight:		bold;
}


#tab_list{
	margin: 			0;
	margin-bottom:		-18px;
	padding: 			3px 0;
	width: 				100%;
	list-style: 		none;
}
#tab_list li{
	display: 			inline;
	background: 		gray;
	border: 			1px solid #888;
	border-bottom: 		0px;
	margin-right:		2px;
	padding: 			3px;
}
#tab_list li a:hover{
	color:				red;
}
#tab_list li.selected{ 
	background: 		#004422;
	padding-bottom: 	4px;
	border-bottom:		0px;
}

#content_div{
	width: 				300px;
	border: 			2px solid gray;
	margin-top:			0px;			
	padding: 			0 10px;
}
#content_div p {
	width: 				inherit;
	background-color: 	inherit;
	margin-top:			0px;
	height:				100px;
}



h2 {
	margin:				10px;
	padding:			5px;
	width:				300px;
	text-align:			center;
	background-color: 	yellow;
	color:				orange;
}

p {
	padding: 			15px;
}

table {
	border-collapse:	collapse;
	border-top:			2px solid yellow;
	margin:				20px;
	width:				550px;
	font-size:			12px;
}

th {
	border-bottom: 		2px solid yellow;
	text-align: 		left;
	padding: 			4px 7px;
	color: 				#E05500;
	font-size: 			14px;
	font-weight: 		normal;
}

td {
	padding: 			5px;
}
